[submodule "external/depot_tools"]
	path = external/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "external/skia"]
	path = external/skia
	url = https://skia.googlesource.com/skia.git
